
# cakephp find all
snippet finda
	find('all', array(
		'fields' => array(
		),
		'conditions' => array(
		),
		'joins' => array(
		),
		'order' => array(
		),
	));
# cakephp find first
	find('first', array(
		'fields' => array(
		),
		'conditions' => array(
		),
		'joins' => array(
		),
		'order' => array(
		),
	));


